<form class="mt-4 d-flex justify-content-around align-items-end">
    <div class="author">
        <label for="author" class="fs-4">Author:</label>
        <input type="author" name="author" id="author" class="form-control" required>
    </div>
    <div class="message">
        <label for="message" class="fs-4">Message:</label>
        <input type="message" name="message" id="message" class="form-control">
    </div>
    <div class="sendBtn">
        <input type="button" value="Send" class="btn btn-dark" id="sendMessageBtn">
    </div>
</form>
<div id="messages"></div>