<form class="mt-4">
    <div class="title">
        <label for="title" class="fs-4">Title:</label>
        <input type="text" name="title" id="title" class="form-control">
    </div>
    <div class="price">
        <label for="price" class="fs-4">Price:</label>
        <input type="text" name="price" id="price" class="form-control">
    </div>
    <div class="thumbnail">
        <label for="thumbnail" class="fs-4">Thumbnail:</label>
        <input type="text" name="thumbnail" id="thumbnail" class="form-control">
    </div>
    <button type="button" class="btn btn-dark mt-2" id="saveProduct">Save product</button>
</form>
